* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

:root {
    --cor1: #000000;
    --cor2: #eeeeee;
    --cor3: #ffffff;
    --cor4: #ff0000;
    --cor5: #0000ff;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor2);
    color: var(--cor1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header,
footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor1);
    color: var(--cor2);
    min-height: 10vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

h1 {
    width: 100%;
    text-align: center;
}

nav button {
    background-color: var(--cor3);
    color: var(--cor1);
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

nav button:hover {
    background-color: var(--cor1);
    color: var(--cor3);
    box-shadow: 0 0 5px var(--cor3);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

table {
    width: 80%;
    height: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

input,
select {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

.saldos {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form button {
    background-color: var(--cor1);
    color: var(--cor3);
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

#entradas,
#saidas {
    height: 100%;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--cor3);
    color: var(--cor1);
    box-shadow: 0 0 5px var(--cor1);
}

.areas {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}

.areas button {
    background-color: var(--cor5);
    color: var(--cor3);
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.areas button:hover {
    background-color: var(--cor4);
    color: var(--cor3);
    box-shadow: 0 0 5px var(--cor4);
}