*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header, footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

main{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
}

h1{
    margin-bottom: 1rem;
}

button{
    padding: 0.5rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(odd){
    background-color: #f4f4f4;
}

tr:nth-child(even){
    background-color: #e9e9e9;
}

th, td{
    padding: 0.5rem;
    text-align: center;
}

th{
    background-color: #333;
    color: white;
}
