* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f1f1f1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: large;
}

h3 {
    font-size: medium;
    color: #fff;
}

form {
    width: max-content;
    max-width: 400px;
    border: solid 1px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
}

form input,
form button {
    width: 100%;
    border: solid 1px #ccc;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

input[type="text"]{
    width: 100%;
    min-width: 300px;
}

form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.excluir {
    background-color: #dc3545;
}

.vizualizar {
    background-color: #28a745;
}

.faixa {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
}

.conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo button {
    align-self: flex-end;
}

.conteudo h2 {
    align-self: flex-start;
}

table{
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 10px;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.janela {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oculto {
    display: none;
}