*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #f5f5f5;
}


nav{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer; 
}

header{
    width: 100%;
    padding: 20px 0;
    background: #000;
}

main{
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    padding: 20px;
    background: #000;
    color: #fff;
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

tr:nth-child(even){
    background: #ffdddd;
}

tr{
    border-bottom: 1px solid #ccc;
}

th, td{
    padding: 10px 20px;
    text-align: left;
}

h1{
    color: #fff;
    text-align: center;
}

form{
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    margin: 20px 0;
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}