* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #630268;
}
.introducao {
    margin-top: 40px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    border: solid 2px white;
    height: 200px;
}
.introducao img {
    padding: 20px;
    width: 30%;
    min-width: 150px
}
.placar {
    background-color: white;
    font-family: sans-serif;
    width: 200px;
    height: 150px;
    margin-right: 20px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score {
    color: blue;
    font-size: 15px;
    margin-top: 5px;
}
.pontuacao {
    font-size: 50px;
    font-weight: bolder;
    color: #534f65;
}

/*Main*/
.jogo {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content: center;
    display:flex;
    margin-top: 150px;
    width: 100%;
    max-width: 600px;
    height: 30%;
}
.triangulo {
    width: 70%;
}
.opcao {
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    border: 35px solid;
    width: 250px;
    height: 250px;
    animation: opacidade 2s linear;
    animation: rotatez 1s linear;

}
.opcao:hover {
    animation: luzDeFundo 2s ease infinite;
}
.opcao:focus {
    animation: luzDeFundo 2s ease infinite;
}
.test,
.test1 {
    border-radius: 50px;
}

.conteiner-papel {
    position:absolute;
    top: -130px;
    left: -60px;
}
.conteiner-tesoura {
    position:absolute;
    top: -130px;
    left: 60px;
}
.conteiner-pedra {
    position:absolute;
    bottom: -70px;
}
.opcao img {
    width: 100px;
    transition: 0.5s;
}
.opcao :hover {
    transform: rotatey(360deg);
}
.papel {
    border-color: #07d99d;
    box-shadow: 0px 7px 0px #71e89a, inset 0px 7px #d6d6d6;
    
}